<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Update Seminar</title>
        <meta seminarName="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
    </head>
    <body>
        <div class="container my-5">
            <h2 class="mb-5">Update Seminar</h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/update/{id}(id=${seminar.id})}" th:object="${seminar}" method="post">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="seminarName" class="col-form-label">Senimar Name</label>
                                <input type="text" th:field="*{seminarName}" class="form-control" id="seminarName" placeholder="Name">
                                <span th:if="${#fields.hasErrors('seminarName')}" th:errors="*{seminarName}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="duration" class="col-form-label">Duration</label>
                                <select name="duration" id="duration" class="form-control">
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                    <option value="60">60</option>
                                </select>
                                <span th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Update Seminar">
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>